body {
  background-color: rgb(240, 240, 240);
}

.myonlyinput {
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 400px;
  height: 30px;
}


.saerchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  font-family: -webkit-pictograph;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
}


button {
  height: 34px;
  background-color: #00c0ff;
  border: transparent;
  color: white;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;

}

.table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 16px -5px grey;
  margin-bottom: 10vh;
}

#timestamp {
  padding-left: 10px;
}

tr {
  border: 1px solid #ddd;
}

.tableHead {
  color: white;
  width: fit-content;
  height: 40px;
}

.table .headRow {
  background-color: #00c0ff;
  color: white;
  height: 50px;
  text-align: left;
  box-shadow: 0 4px 4px -2px gray;
}

.trow {
  height: 40px;
  font-size: 12px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination>.active>a {
  background-color: #00c0ff;
  border-color: #00c0ff;
  color: #fff;
}

.pagination>li>a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #00c0ff;
  border-color: #00c0ff;
  outline: none;
}

.pagination>li>a,
.pagination>li>span {
  color: #00c0ff
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
  border-radius: unset
}

.loadingSign {
  position: absolute;
  left: 50%;
  top: 50%
}

.typography {
  width: 13vw;
}

@media screen and (max-width:850px) {
  .myonlyinput {
    width: 250px
  }

  .header {
    flex-direction: column;
    justify-content: space-around;
  }

  .table .headRow {
    font-size: 12px;
    text-align: center;
  }
}